.idea/
target/classes/assets/templates/login.st
target/
Proyecto.iml

*.json
*.png
*.orig

src/main/resources/assets/imagesData/CompositionCounter.txt
src/main/resources/assets/imagesData/PieceCounter.txt