.idea/
target/classes/assets/templates/login.st
target/
Proyecto.iml

*.json
*.png
*.jpg
*.jpeg
*.gif
*.orig
*.lck

src/main/resources/assets/imagesData/CompositionCounter.txt
src/main/resources/assets/imagesData/PieceCounter.txt