body{
	background-color: #3b3b3b;
	
}

.img-thumbnail
{
    width:150px;
    height:150px;
    padding:10px;
    margin:10px;
}

.swipe{
    overflow:auto;
    white-space:nowrap;
}


/*img{
    position: relative;
    float: left;
    width: 27%;
    height: 27%;
    padding: 10px;
    margin: 10px;
    background-position: 70% 30%;
    background-size:     cover;
}*/


.modal{
    overflow-y:auto;
    max-height:90%;
}

.modalDialog {
    position: absolute;
    overflow-y: auto; /*Scroll*/
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 800px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}

#editor-menu{
	background-color: #262626;
	height: 100%;
	z-index: 2;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
}

#attributes-menu{
	background-color: #262626;
	z-index: 2;
	position: absolute;
	top: 0px;
	right: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
	float: right;
}

#editor{
	
	 /*Original position is behind the menu, right at the begining of the row*/
	/**/
	width: 100%;
	height: 100%;
	position: relative;
	overflow: scroll;
}

#canvasBackGround{
	background-color: white;
}

#canvasBackGround, #leCanvas{
  position: absolute;
  top: 0;
  left: 0;
}

#editor-container {
  padding: 0px;
  border: 10px solid #333;
  position: relative;
  top: 0px;
  background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, 
  rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, 
  rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), 
  linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, 
  rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, 
  rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
  /*height:100%;*/
  background-size:50px 50px;
}

.top-nav{
	background-color: #262626;
	/*height: 100px;*/
	border-bottom: 2px solid #222;
	z-index: 3;
}

#editor-menu-handle{
	width: 40px;
	float: right;
	padding: 6px;
	height: 100%;
	display: inline-block;
    overflow-x: hidden;
    background-color: #262626;
    /*border: 2px solid #222;*/
}

#editor-menu-content{
	width: 310px;
	float: left;
	padding: 15px;
	padding-top: 40px;
	height: 100%;
	display: inline-block;
}

#attributes-menu-content{
	width: 310px;
	float: right;
	padding: 15px;
	height: 100%;
	display: inline-block;
	overflow-y: scroll;
	
}

#attributes-menu-handle{
	width: 40px;
	float: left;
	padding: 6px;
	height: 100%;
	display: inline-block;
    overflow-x: hidden;
    background-color: #262626;
    /*border: 2px solid #222;*/
}

#attribute-card-editor{
	margin-bottom: 15px;
}

#attributes-menu-handle .fa, #editor-menu-handle .fa{
	color: #4C4A45;
}

.tool i{
	float: right;
}

#properties-nav-btn{
	padding: 2px;
	border: 1px solid #93928f;
	overflow: hidden;
	border-radius: 5px;
	font-weight: bold;
	line-height: 2em;
	color: #93928f;
	text-align: center;
}

.nav-tool-button{
	padding: 2px;
	display: inline-block;
	border: 1px solid #93928f;
	width: 36px;
	height: 36px;
	overflow: hidden;
	border-radius: 5px;
}

.tool-options-hidden{
	display: none;
}

.nav-button{

	
	color: #93928f;
	/*border-radius: 5px;
	border: 1px solid #222222;
	border-bottom: 2px solid #222222;
	border-top: 1px solid #3b3b3b;  /*Shinny part. */
	
	text-align: center;
	font-weight: bold;
	line-height: 2em;

	/*Disable selections of children*/
	 user-select: none;
     -moz-user-select: none;
     -khtml-user-select: none;
     -webkit-user-select: none;
     -o-user-select: none;
}



.tool-btn{
	border: 1px solid #93928f;
	height: 30px;
	width: 30px;
	padding: 1px;
	margin-left: 5px;
	display: inline-block;
	color: #93928f;
}

.selectedTool {
	background-color: #34B9AB;
	color: #262626;
	border: 1px solid #34B9AB;
}

#slider, #slider span:focus{
	outline: none;
}

#slider span, #rotation-slider span{
	border-radius: 100%;
	outline: none;
	background-color: #93928f;
	border: 1px solid #848380;
}

#slider, #rotation-slider{
	background-color: #3b3b3b;
	border: 1px solid #262626;
}



#addImage i{
	float: right;
}

#pointerRadius, #rotationRadius{
	font-weight: bold;
	line-height: 2em;
	color: #93928f;
}


#rotationRadius p, #pointerRadius p{
	padding-top: 5px;
}

#rotationRadius .rotation, #pointerRadius .rotation{
	padding-top: 15px;
}


.attribute-card{
	border: 1px solid #44423e;
	border-bottom: 2px solid #3c3b37;
	border-top: 1px solid #5d5c57;
	border-radius: 5px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 5px;
}

.att-input{
	
	border: none;
	background-color: #262626; /*color base*/
	color: white;
	font-size: 14px;
	font-style: oblique;
    margin-bottom: 5px;
}

.attribute-card label{
	font-size: 14px;
	color: #93928f;
	height: 39px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.card-input:focus, .att-input:focus{
	outline: none;
	background-color: #5d5c57;
}



.card-input{
	position: relative;
}

.attribute-card i{
	color: #93928f;
}

.card-input .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-icon .fa  { left:  0px;}
.right-icon .fa { right: 0px;}

/* add padding  */
.left-icon input  { padding-left:  34px; }
.right-icon input { padding-right: 34px; }

.nopadding {
   padding-left: 0 !important;
   padding-right: 0 !important;

}

.attribute-card-header{
	border-bottom: 1px solid #3c3b37;
	margin-bottom: 10px;
}

#addProp{
	background-color: #262626;
	border-radius: 5px;
	border: 1px solid #44423e;
	border-bottom: 2px solid #3c3b37;
	border-top: 1px solid #3b3b3b;  /*Shinny part. */
	color: #93928f;
	height: 38px;
}

.cardTemplate{
	display: none;
}

#attribute-card-list{
	overflow-y: scroll;
}



#cancelButton{
	margin-top: 15px;
}

.nav-button:active{
	background-color: #1a1a1a;
	color: #3b3b3b;
	border: 1px solid #222222;

	/*Cross browser shadows :) */
    -moz-box-shadow: 0px 0px 5px 0px #0f0f0f inset;
	-webkit-box-shadow: 0px 0px 5px 0px #0f0f0f inset;
	box-shadow: 0px 0px 5px 0px #0f0f0f inset;
}

#changeView .viewInfo{
	width: 150px;
	margin: 0px;
	background-color: #93928f;
	border-radius: 5px;
	color: #333;
	text-align: center;
	padding: 5px;

	/*Disable selections of children*/
	 user-select: none;
     -moz-user-select: none;
     -khtml-user-select: none;
     -webkit-user-select: none;
     -o-user-select: none;

}

#changeView .viewInfo:focus{
	outline: none;
}

#changeView {
	text-align: center;
	color: #93928f;
}

#changeView div{
	display: inline-block;
}




.selectedCanvas{
	display: inline-block;
}

.facebook-login-container{

	padding: 15px;
}


