body{
	background-color: #4C4A45;
	
}

.editor-menu{
	background-color: #404040;
	height: 100%;
	z-index: 2;
	position: absolute;
	top: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
}

#editor{
	background-color: white;
	position: relative; /*Original position is behind the menu, right at the begining of the row*/
	border: 10px solid #333;
	height: 100%;
	top: 0px;
}

.top-nav{
	background-color: #262626;
	height: 100px;
	border-bottom: 2px solid #222;
	z-index: 3;
}

#editor-menu-handle{
	width: 40px;
	float: right;
	padding: 6px;
	height: 100%;
	display: inline-block;
    overflow-x: hidden;
    background-color: #262626;
    border: 2px solid #222;
}

#editor-menu-content{
	width: 310px;
	float: left;
	padding: 15px;
	height: 100%;
	display: inline-block;
}

.tool i{
	float: right;
}

.tool {
	height: 40px;
	margin-bottom: 15px;
	padding: 6px;
	border: 2px dashed #333;
	color: white;
	text-align: center;
	font-weight: bold;
	line-height: 2em;
}

.selectedTool {
	background-color: #333;
	border: 2px dashed #444;
}

#addImage {
	height: 40px;
	margin-bottom: 15px;
	padding: 6px;
	text-align: center;
	font-weight: bold;
	line-height: 2em;
}

#addImage i{
	float: right;
}